.im {
    .card-footer {
        .stop-btn {
            margin-bottom: 10px;
            text-align: center;
        }

        .input-text {
            display: flex;
            align-items: center;
        }
    }

    .t-card__body {
        flex: 1;
    }
}