.index {
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right 0 bottom 0;
    padding: 8px;
    box-sizing: border-box;
    .left,
    .right {
        flex: 1;
    }
    .im {
        flex: 3;
        height: 100%;
        .msg-list {
            height: calc(66vh);
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .t-card__header,
        .t-card__body {
            padding: 16px;
        }
    }
    @media screen and (max-width: 500px) {
        .left,
        .right {
            display: none;
        }
    }
    .footer {
        display: flex;
        align-items: center;
    }
}