.login {
    height: 100%;
    background-repeat: no-repeat;    
    &-box {
        position: fixed;
        top: 180px;
        right: 100px;
    }
    @media screen and (max-width: 500px) {
        &-box {
            position: static;
            margin: 200px auto;
            display: flex;
            justify-content: center;
        }   
    }
}